<% content_for :title, "새 클럽" %>

<div class="page-header">
  <div>
    <h1>새 클럽 만들기</h1>
    <p class="muted">아이콘을 고르고 이름을 입력해주세요.</p>
  </div>
</div>

<div class="card">
  <%= render "form" %>
</div>
