<% content_for :title, t('clubs.new.page_title', app_name: t('app.name')) %>

<div class="max-w-5xl mx-auto">
  <div class="mb-6">
    <h1 class="page-title text-base-content mb-2"><%= t('clubs.new.title') %></h1>
    <p class="text-base-content/60"><%= t('clubs.new.subtitle') %></p>
  </div>

  <%= render "form" %>
</div>
