<!DOCTYPE html>
<html>
  <head>
    <title>공유용 경기 결과</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="share-body">
    <%= yield %>
  </body>
</html>
