<% content_for :title, "멤버 편집" %>

<div class="page-header">
  <div>
    <h1>멤버 편집</h1>
    <p class="muted"><%= @club.name %> 멤버 정보를 수정하세요.</p>
  </div>
  <div class="actions">
    <%= link_to "뒤로가기", club_members_path(@club), class: "button ghost" %>
  </div>
</div>

<div class="card">
  <%= render "form" %>
</div>
